<button
  class="app-button"
  [class]="'btn-' + type() + ' btn-' + size()"
  [class.full-width]="fullWidth()"
  [class.loading]="loading()"
  [disabled]="disabled() || loading()"
  (click)="onClick($event)"
>
  @if (loading()) {
    <svg class="loading-spinner" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
      <path d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z">
        <animateTransform
          attributeName="transform"
          type="rotate"
          from="0 12 12"
          to="360 12 12"
          dur="1s"
          repeatCount="indefinite"/>
      </path>
    </svg>
  } @else if (icon() && iconPosition() === 'left') {
    <svg class="button-icon icon-left" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" [innerHTML]="icon()"></svg>
  }

  <span class="button-content">
    <ng-content></ng-content>
  </span>

  @if (icon() && iconPosition() === 'right') {
    <svg class="button-icon icon-right" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" [innerHTML]="icon()"></svg>
  }
</button>
