<div
  class="upload-area"
  [class.drag-over]="isDragOver()"
  [class.disabled]="disabled"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <label class="upload-area-label" [class.disabled]="disabled">
    <input
      type="file"
      [accept]="accept"
      [multiple]="multiple"
      [disabled]="disabled"
      (change)="onFileSelect($event)"
      style="display: none;"
    />
    <div class="upload-content">
      @if (showIcon) {
        <svg width="32" height="32" viewBox="0 0 24 24" fill="currentColor">
          <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z"/>
        </svg>
      }
      <span class="upload-text">{{ uploadText }}</span>
      <span class="upload-hint">{{ uploadHint }}</span>
    </div>
  </label>
</div>
