<div
  class="context-menu"
  [class.visible]="visible()"
  [style.left.px]="position().x"
  [style.top.px]="position().y"
  (click)="$event.stopPropagation()"
>
  @for (item of items(); track item.id) {
    @if (item.separator) {
      <div class="context-menu-separator"></div>
    } @else {
      <div
        class="context-menu-item"
        [class.disabled]="item.disabled"
        (click)="onItemClick(item)"
      >
        <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
          <path [attr.d]="item.icon"></path>
        </svg>
        {{ item.label }}
      </div>
    }
  }
</div>
